@import url("https://fonts.googleapis.com/css?family=Berkshire+Swash|Pangolin|Roboto|Schoolbell");

body {
  font-family: "Roboto";
  color: #2c3e50;
  text-align: center;
  background-color: #b3b58d;
}

h1 {
  font-family: "Berkshire Swash", cursive;
  font-size: 45px;
}

#quote {
  font-size: 25px;
  font-family: "Pangolin", cursive;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

button {
  margin-top: 100px;
  margin-bottom: 20px;
  border: none;
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: #428194;
  color: white;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  font-family: "Roboto", sans-serif;
}

button:hover {
  color: #428194;
  background: #fff293;
}

#arrow {
  display:inline-block;
  margin: .5em;
  font-family: "Schoolbell", cursive;
  font-size: 1.5em;
  color: white;
  -ms-transform: rotate(353deg); /* IE 9 */
  -webkit-transform: rotate(353deg); /* Safari 3-8 */
  transform: rotate(353deg);
}

img {
  width: 15%;
  padding-top: 5em;
}

img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
